<query-editor-row query-ctrl="ctrl" can-collapse="true" has-text-edit="false">

  <div class="gf-form-inline">
	<div class="gf-form">
      <label class="gf-form-label query-keyword width-7">FROM</label>
      <metric-segment-model css-class="tight-form-item-xxlarge"
                            property="ctrl.target.collection"
                            get-options="ctrl.getCollections()"
                            on-change="ctrl.onChange()">
      </metric-segment-model>
    </div>
    <div class="gf-form gf-form--grow">
	  <div class="gf-form-label gf-form-label--grow"></div>
	</div>
  </div>

  <div class="gf-form-inline">
    <div class="gf-form">
	  <label class="gf-form-label query-keyword">SELECT</label>
      <div ng-repeat="segment in ctrl.metricSegments" role="meuitem">
        <metric-segment segment="segment"
                        get-options="ctrl.getMetrics($index)"
                        on-change="ctrl.onMetricSegmentChange(segment, $index)">
        </metric-segment>
      </div>
    </div>
    <div class="gf-form gf-form--grow">
	  <div class="gf-form-label gf-form-label--grow"></div>
	</div>
  </div>

  <!--
  <div class="gf-form-inline">
    <div class="gf-form">
	  <label class="gf-form-label query-keyword">WHERE</label>
    </div>
    <div class="gf-form gf-form--grow">
	  <div class="gf-form-label gf-form-label--grow"></div>
	</div>
  </div>
  -->

</query-editor-row>
